:root {
  --primary-color: #885df1;
  --secondery-color: rgb(60, 37, 117);
  --therd-color: rgba(93, 132, 241, 0.2);
  --bg-gradient: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

body {
  font-family: sans-serif;
  padding: 0 20px;
  background: var(--bg-gradient);
}

h1 {
  text-align: center;
  font-weight: 900;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
  color: var(--primary-color);
}

h1 h2,
h3 {
  color: var(--secondery-color);
}

.logo {
  display: block;
  margin: 30px auto;
  width: 150px;
}

p {
  background-color: var(--therd-color);
  padding: 15px;
}
